.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2px;
  }
  
  .box {
    border: 3px solid #666;
    background-color: #ddd;
    border-radius: .5em;
    width: 150px;
    padding: 10px;
    display: inline-block;
    cursor: move;
  }

  .box.over {
    border: 3px dotted #666;
  }